{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": [
            "> 2% in US",
            "ie 11"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
