.norm {
  display: none;
}

.show {
  display: block;
}

.item {
  padding: 5px 0 5px 7px;
  color: #2354ac;
  cursor: pointer;
  &:hover {
    background-color: #5b92f4;
    color: #fff;
  }
}

.selected {
  background-color: #5b92f4;
  color: #fff;
}
