.optionGroup {
  font-weight: bold;
  display: block;
  &:first-child {
    padding-top: 10px;
  }
}

.grouping {
  padding-left: 5px;
}

.empty {
  all: initial;
  display: block;
  padding: 5px 0 5px 7px;
  color: #333333;
}
