suggestion: {
  background: '#E1E1E1';
  border: 0;
  boxShadow: '0 4px 5px rgba(0, 0, 0, .15)';
  fontSize: '14px';
  paddingTop: '10px';
  width: '100%';
  maxHeight: '200px';
  overflowY: 'auto';
}
norm: {
  display: 'none';
}
show: {
  display: 'block';
}
item: {
  padding: '5px 0 5px 7px';
  color: '#2354ac';
  cursor: 'pointer';
  &:hover: {
    backgroundColor: '#5b92f4';
    color: '#fff';
  }
}
selected: {
  backgroundColor: '#5b92f4';
  color: '#fff';
}
