.suggestion: {
  background: #E1E1E1;
  border: 0;
  boxShadow: 0 4px 5px rgba(0, 0, 0, .15);
  fontSize: 14px;
  paddingTop: 10px;
  width: 100%;
  maxHeight: 200px;
  overflowY: auto;
}
.norm: {
  display: none;
}

.visible {
  display: inline-block;
}
