.input {
  background-color: white;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  max-height: 100%;
  padding: 4px;
  height: 40px;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 14px;  
}
