.input-wrapper {
  width: 45%;
  display: inline-block;
  background-color: red;
}

.input-wrapper:container ("width <= 100px") {
  background-color: yellow;
}

.input {
  width: 100%;
  display: inline-block;
}

.input:container ("width <= 100px") {
  background-color: blue;
}
