.input {
  background-color: white;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100%;
  padding: 4px;
  height: 34px;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: #303030;
}
::placeholder {
  color: #464646;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: visible;
  vertical-align: middle;
}

